body {font-size: 11px; padding: 0; background: darkgray;}
h1 {font-size: 18px}
.selected {background: lightgreen !important}
.href {cursor: pointer;}
.href:hover {text-decoration: underline;}
.hidden {display: none !important}
.draggable {cursor: move}

#registryDialog {margin-top: 10px;}
.loginDialog div.ui-dialog-titlebar {display: none;}

.over {border: 1px dashed red ;}
.tabContent {padding: 13px; background: #999;}

/* tabs */
div#tabs ul li {height: 28px;}

/* home tab */
    table.home td {border: 0;}
    table.home th {width: 100px; text-align: right;}

    .sprint .icon {background-color: #ddd; position: relative; top: 2px; display: inline-block; cursor: pointer;}

    /* project name button */
    .projectName {margin-left: 5px; display: inline-block; padding: 5px; padding-left: 20px; padding-right: 20px; background: #eee; border-radius: 5px; cursor: pointer;}
    .projectName:hover {background: lightgreen}

    /* Project, Sprints, Contributors etc.. */
    fieldset { margin-bottom: 20px; border: 0px solid #ddd; border-top: 1px solid #999; border-left: 0; border-bottom: 0; padding: 0; border-radius: 5px; background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.20, rgb(252,252,252)), color-stop(0.72, rgb(240,240,240))); }
    fieldset legend { border-radius: 5px; border: 1px solid lightgray; background: #eee; }

    /* sprints */
    div#sprintTitle {border-left: 1px solid black; background: #ddd; display: inline-block; margin: 5px; padding: 5px 5px; font-weight: bold;}
    ul#sprints-list li { padding: 3px; font-size: 16px; }

/* board tab */
    table.user_story { width: 100%;}
    table.user_story td { width: 20%}
    table.user_story th { width: 20%}
    table.user_story th span.summary { float: right; padding-left: 5px; padding-right: 5px;}
    table.user_story td { border: 1px dashed #aaa; vertical-align: top; padding: 5px;}
    table.user_story tr.title td { background: #f5f5f5; height: 20px; vertical-align: middle; border: 0;}
    table.user_story tr.title td span.name { padding: 3px;}
    table.user_story tr.title td img { width: 16px;}
    table.user_story tr.points td { background: #f5f5f5; font-size: 10px; padding: 0; border: 0; text-align: center; font-weight: bold;}

    /* task */
    div.task { position: relative; background-color: #ddd; float: left; display: inline-block; margin: 5px; border: 1px solid #aaa; font-size: 11px; font-family: Helvetica,Arial,sans-serif; box-shadow: 2px 2px 5px #aaa;}
    div.task div.body {max-height: 50px; max-width: 300px; padding: 5px 5px; overflow: hidden}
    div.task div.status { background: lightgray; white-space: nowrap; text-align: right;}
    div.task div.status img.delete_task {position: relative; top: 4px; cursor: pointer; width: 16px;}
    div.task select.noneditable.owner { background: none;}
    div.estimation {font-weight: bold; padding: 0; padding-left: 2px; padding-right: 2px}

    .noneditable {border: 0; background: inherit; padding: 3px; display: inline-block;}
    button.color.noneditable {display: none;}
    div.task input.noneditable {width: 20px; text-align: center; background: inherit; border: 0}

    div.task.editable { box-shadow: 5px 5px 15px #aaa;}
    div.task.editable div.body { overflow: hidden; overflow-y: auto; border: 2px solid red;}
    div.task.editable div.status {margin-top: 4px;}
    div.task.editable input {margin: 2px;}

    div.task.editable input.estimation { width: 30px;}
    div.task.editable input.done { width: 30px;}
    div.task.editable select.owner {width: 100px;}

    div.task.editable button.color {margin: 0; width: 20px; border: 1px solid dark;}
    div.task.editable button.color.red {background: red;}
    div.task.editable button.color.yellow {background: yellow;}
    div.task.editable button.color.blue {background: blue;}
    div.task.editable button.color.green {background: green;}
    div.task.editable button.color.gray {background: gray;}

    td.user-story {background: #ddd; width: 100px;}


.ui-tabs {background: none;}
.ui-tabs-nav {padding: 0 !important;}
.ui-corner-all {border-radius: 0;}
.ui-widget-content {border: 0;}
.ui-widget-header {border: 0; background: none;}
.ui-tabs.ui-tabs-nav {padding: 0;}
.ui-tabs-panel {background: #fefefe !important;}

.ui-tabs .ui-tabs-nav li {border: 0; margin-right: 1px; padding: 0; top: 0; border-radius: 2px;}

.over {border: 2px solid red !important;}

.delete_user_story { position: relative; top: 5px; padding-left: 5px; padding-right: 5px; cursor: pointer;}
.move_to_backlog { position: relative; top: 5px; padding-left: 5px; padding-right: 5px; cursor: pointer;}
.add_new_task { position: relative; top: 5px; padding-left: 5px; padding-right: 5px; cursor: pointer;}

#detached table tr td.inProgress {display: none}
#detached table tr td.readyForTest {display: none}
#detached table tr td.done {display: none}

.confirm_delete { display: none; position: absolute; z-index: 100; background: #80ff00; padding: 5px; border-radius: 5px;}
.confirm_delete.show { display: inline;}
